* {
    font-family: 'IBM Plex Sans', sans-serif; 
    font-size: 20px;
} 

/* Utility */

.marker {
    background-color: yellow;
}

.booleaner {
    color: lightskyblue;
}

/* Body */

/* Header */

.upper-band {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    height: 175px;
}

.logo {
    width: 300px;
    margin: 80px 0px 0px 200px;
}

/* Main */

table{
    border-spacing:0;
    text-align: left;
}

th {
    background-color: #4ea0ff;
    color: white; 
    
}

.th-right {
    background-color: #4ea0ff;
    color: white;
    width: 50%;
    height: 20px;
}

.tr-1 {
    background-color: lightskyblue;
}

/* Footer */


.bg-footer-1{
    background-image: url(../img/monitor.jpg);
    width: 280px;
    height: 200px;
    margin-bottom: 10px;
    color: white;
}
.bg-footer-2{
    background-image: url(../img/graph.jpg);
    width: 280px;
    height: 200px;
    color: white;
}

.img-text-centre{
    margin-top: 100px;
    margin-left: 70px;
}

  
